.content {
  &.content--home {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media #{$bp-d-and-down} {
      margin: 100px 0;
    }
  }
}

.layout {
  &.layout--style-a,
  &.layout--style-b {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.layout--style-b {
    margin-top: 100px;
  }

  &.andrew {
    background: url("/img/bg.jpg");
    background-repeat: repeat;
    height: 100vh;
    animation: andrewAnim 180s linear infinite;
  }
}

.layout__inner {
  .layout--style-a &,
  .layout--style-b & {
    max-width: $max-width;
    margin: 0 $gw * 2;
    width: 100%;
  }
}

@keyframes andrewAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
