@import "@/styles/_00-settings/variables.scss";


.logo-small {

}

.logo-small__icons {
  display: flex;
  padding: 5px;

  svg {
    width: 25px;
    min-height: 31px; // IE
    margin-right: 5px;
    fill: $yellow;

    &:last-child {
      margin-right: 0;
    }
  }
}