@import "@/styles/_00-settings/variables.scss";

.logo-small {

}

.logo-small__icons {
  display: flex;

  svg {
    width: 15px;
    min-height: 19px; // IE
    margin-right: 5px;
    fill: $yellow;

    &:last-child {
      margin-right: 0;
    }
  }
}