$letterHeight: 100px;

.logo {
  margin-top: 20vh;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.para {
  --letter-height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: var(--letter-height);
  width: calc(var(--letter-height) * 5);
}