@import "@/styles/_00-settings/variables.scss";


.logo {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  --letter-height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: var(--letter-height);
  width: calc(var(--letter-height) * 5);

  @media #{$bp-c-and-up} {
    --letter-height: 100px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// .word-container {
//   padding: 25px;
//   background-color: #e6e6e6;
//   border-radius: 10px;
//   box-shadow: inset 0px 0px 11px rgba(0,0,0,0.7);
// }