
.list {

  &.list--style-a {
    list-style: none;
    
    li {
      position: relative;
      margin: $vr*2 0;
      padding-left: $gw*2;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $yellow;
      }
    }
  }

  &.list--style-b {
    display: flex;
    list-style: none;
    
    li {
      position: relative;
      margin-right: $gw*2;
      padding-right: $gw*2;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $yellow;
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}