
.list {

  &.list--style-a {
    list-style: none;
    
    li {
      position: relative;
      margin: $vr*2 0;
      padding-left: $gw*2;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $yellow;
      }
    }
  }

  &.list--style-b {
    display: flex;
    list-style: none;

    @media #{$bp-c-and-down} {
      flex-direction: column;
      text-align: center;
    }
    
    li {
      position: relative;
      margin-bottom: $vr*3;
      padding-bottom: $vr*3;
      border-bottom: solid 2px $yellow;
      
      @media #{$bp-c-and-up} {
        margin: 0;
        padding: 0;
        margin-right: $gw*2;
        padding-right: $gw*2;
        border: none;
        
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          width: 2px;
          height: 100%;
          background-color: $yellow;
        }
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}