@import "@/styles/_00-settings/variables.scss";

.letter {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 0 1.5%;
}

.letter--p {
  grid-template-areas:
  ".     a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  ."
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  "a1-3  a2-3  a3-3  .     .     a6-3  a7-3  a8-3"
  "a1-4  a2-4  a3-4  .     .     a6-4  a7-4  a8-4"
  "a1-5  a2-5  a3-5  a4-5  a5-5  a6-5  a7-5  a8-5"
  "a1-6  a2-6  a3-6  a4-6  a5-6  a6-6  a7-6  ."
  "a1-7  a2-7  a3-7  .     .     .     .     ."
  "a1-8  a2-8  a3-8  .     .     .     .     ."
  "a1-9  a2-9  a3-9  .     .     .     .     ."
  "a1-10 a2-10 a3-10 .     .     .     .     ."
  ;
}

.letter--i {
  grid-template-areas:
  "a1-1  a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  a8-1"
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  ".     .     .     a4-3  a5-3  .     .     .   "
  ".     .     .     a4-4  a5-4  .     .     .   "
  ".     .     .     a4-5  a5-5  .     .     .   "
  ".     .     .     a4-6  a5-6  .     .     .   "
  ".     .     .     a4-7  a5-7  .     .     .   "
  ".     .     .     a4-8  a5-8  .     .     .   "
  "a1-9  a2-9  a3-9  a4-9  a5-9  a6-9  a7-9  a8-9"
  "a1-10 a2-10 a3-10 a4-10 a5-10 a6-10 a7-10 a8-10"
  ;
}

.letter--x {
    grid-template-areas:
    "a1-1  a2-1  a3-1  .     .     a6-1  a7-1  a8-1"
    "a1-2  a2-2  a3-2  .     .     a6-2  a7-2  a8-2"
    "a1-3  a2-3  a3-3  .     .     a6-3  a7-3  a8-3"
    "a1-4  a2-4  a3-4  .     .     a6-4  a7-4  a8-4"
    ".     a2-5  a3-5  a4-5  a5-5  a6-5  a7-5  ."
    ".     a2-6  a3-6  a4-6  a5-6  a6-6  a7-6  ."
    "a1-7  a2-7  a3-7  .     .     a6-7  a7-7  a8-7"
    "a1-8  a2-8  a3-8  .     .     a6-8  a7-8  a8-8"
    "a1-9  a2-9  a3-9  .     .     a6-9  a7-9  a8-9"
    "a1-10 a2-10 a3-10 .     .     a6-10 a7-10 a8-10"
    ;
}

.letter--e {
  grid-template-areas:
  ".     a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  a8-1"
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  "a1-3  a2-3  a3-3  .     .     .     .     ."
  "a1-4  a2-4  a3-4  .     .     .     .     ."
  "a1-5  a2-5  a3-5  a4-5  a5-5  .     .     ."
  "a1-6  a2-6  a3-6  a4-6  a5-6  .     .     ."
  "a1-7  a2-7  a3-7  .     .     .     .     ."
  "a1-8  a2-8  a3-8  .     .     .     .     ."
  "a1-9  a2-9  a3-9  a4-9  a5-9  a6-9  a7-9  a8-9"
  ".     a2-10 a3-10 a4-10 a5-10 a6-10 a7-10 a8-10"
  ;
}

.letter--l {
  grid-template-areas:
  "a1-1  a2-1  a3-1  .     .     .     .     .     .     ."
  "a1-2  a2-2  a3-2  .     .     .     .     .     .     ."
  "a1-3  a2-3  a3-3  .     .     .     .     .     .     ."
  "a1-4  a2-4  a3-4  .     .     .     .     .     .     ."
  "a1-5  a2-5  a3-5  .     .     .     .     .     .     ."
  "a1-6  a2-6  a3-6  .     .     .     .     .     .     ."
  "a1-7  a2-7  a3-7  .     .     .     .     .     .     ."
  "a1-8  a2-8  a3-8  .     .     .     .     .     .     ."
  "a1-9  a2-9  a3-9  a4-9  a5-9  a6-9  a7-9  a8-9  a9-9  a10-9"
  "a1-10 a2-10 a3-10 a4-10 a5-10 a6-10 a7-10 a8-10 a9-10 a10-10"
  ;
}

.letter--c {
  grid-template-areas:
  ".     a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  a8-1"
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  "a1-3  a2-3  a3-3  .     .     .     .     ."
  "a1-4  a2-4  a3-4  .     .     .     .     ."
  "a1-5  a2-5  a3-5  .     .     .     .     ."
  "a1-6  a2-6  a3-6  .     .     .     .     ."
  "a1-7  a2-7  a3-7  .     .     .     .     ."
  "a1-8  a2-8  a3-8  .     .     .     .     ."
  "a1-9  a2-9  a3-9  a4-9  a5-9  a6-9  a7-9  a8-9"
  ".     a2-10 a3-10 a4-10 a5-10 a6-10 a7-10 a8-10"
  ;
}

.letter--r {
  grid-template-areas:
  "a1-1  a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  ."
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  "a1-3  a2-3  a3-3  .     .     a6-3  a7-3  a8-3"
  "a1-4  a2-4  a3-4  .     .     a6-4  a7-4  a8-4"
  "a1-5  a2-5  a3-5  a4-5  a5-5  a6-5  a7-5  ."
  "a1-6  a2-6  a3-6  a4-6  a5-6  a6-6  a7-6  ."
  "a1-7  a2-7  a3-7  .     .     a6-7  a7-7  a8-7"
  "a1-8  a2-8  a3-8  .     .     a6-8  a7-8  a8-8"
  "a1-9  a2-9  a3-9  .     .     a6-9  a7-9  a8-9"
  "a1-10 a2-10 a3-10 .     .     a6-10 a7-10 a8-10"
  ;
}

.letter--a {
  grid-template-areas:
  ".     a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  ."
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  "a1-3  a2-3  a3-3  .     .     a6-3  a7-3  a8-3"
  "a1-4  a2-4  a3-4  .     .     a6-4  a7-4  a8-4"
  "a1-5  a2-5  a3-5  a4-5  a5-5  a6-5  a7-5  a8-5"
  "a1-6  a2-6  a3-6  a4-6  a5-6  a6-6  a7-6  a8-6"
  "a1-7  a2-7  a3-7  .     .     a6-7  a7-7  a8-7"
  "a1-8  a2-8  a3-8  .     .     a6-8  a7-8  a8-8"
  "a1-9  a2-9  a3-9  .     .     a6-9  a7-9  a8-9"
  "a1-10 a2-10 a3-10 .     .     a6-10 a7-10 a8-10"
  ;
}

.letter--f {
  grid-template-areas:
  ".     a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  a8-1"
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  "a1-3  a2-3  a3-3  .     .     .     .     ."
  "a1-4  a2-4  a3-4  .     .     .     .     ."
  "a1-5  a2-5  a3-5  a4-5  a5-5  .     .     ."
  "a1-6  a2-6  a3-6  a4-6  a5-6  .     .     ."
  "a1-7  a2-7  a3-7  .     .     .     .     ."
  "a1-8  a2-8  a3-8  .     .     .     .     ."
  "a1-9  a2-9  a3-9  .     .     .     .     ."
  "a1-10 a2-10 a3-10 .     .     .     .     ."
  ;
}

.letter--t {
  grid-template-areas:
  "a1-1  a2-1  a3-1  a4-1  a5-1  a6-1  a7-1  a8-1"
  "a1-2  a2-2  a3-2  a4-2  a5-2  a6-2  a7-2  a8-2"
  ".     .     .     a4-3  a5-3  .     .     .   "
  ".     .     .     a4-4  a5-4  .     .     .   "
  ".     .     .     a4-5  a5-5  .     .     .   "
  ".     .     .     a4-6  a5-6  .     .     .   "
  ".     .     .     a4-7  a5-7  .     .     .   "
  ".     .     .     a4-8  a5-8  .     .     .   "
  ".     .     .     a4-9  a5-9  .     .     .   "
  ".     .     .     a4-10 a5-10 .     .     .   "
  ;
}



.letter .block {
  display: flex;
  background-color: $blue;
  transform: translateX(50px);
  opacity: 0;

  @for $i from 1 through 8 {

    @for $ii from 1 through 10 {
      $delay: random(1000);
      $timer: random(750);
      $posX: random(15);
      $transX: -#{$posX}px;
      $transY: -#{$posX}px;

      @if ($posX % 2 == 0) {
        $transX: #{$posX}px;
      }

      @if ($ii % 2 == 0) {
        $transY: #{$posX}px;
      }

      &[class*="a#{$i}-#{$ii}"] {
        transform: translate($transX, $transY);
        transition: opacity 100ms, transform #{$timer}ms linear;
        transition-delay: #{$delay}ms;
      }
    }
  }

  .page-ready & {
    opacity: 1;
    transform: none;
  }

  .letters-completed & {
    transition: background-color 200ms, box-shadow 1250ms linear;
    box-shadow: 2px 2px 0px 0px $yellow;

    @media #{$bp-c-and-up} {
      box-shadow: 4px 4px 0px 0px $yellow;
    }
  }
}

@for $i from 1 through 8 {
  $first: $i;

  @for $ii from 1 through 10 {

    .letter .a#{$i}-#{$ii} {
      grid-area: a#{$i}-#{$ii};
    }
  }
}