
.section {

  &.section--style-a {
    margin-bottom: $vr*10;
  }
}

.section__header {

  .section--style-a & {
    margin-bottom: $vr*4;
  }

}

.section__title {

  .section--style-a & {
     
    &:before {
      content: '>';
      margin-right: $gw;
      color: $yellow;
    }
  }
}

.section__body {

  .section--style-a & {

    p {
      margin-bottom: $vr;
    }
  }
}